#header {
    /* position: absolute; */
    top: 0;
    left: 0;
}

h1{
    font-size: 32px;
    color: limegreen;

}

#header p{
    font-size: 20px;
    color: red
}

p{
    font-size: 12px;
    color: blue
}

a{
    color: blue;
    font-size: 20px;
}

span{
        text-transform: uppercase;  
}

div{
    background-color: grey;
    width: 100px;
}